
<footer>
  <div class="container">
    <div class="row ">
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'footer.Get to Know Us' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'footer.Careers' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Newsletter' | translate }}</a></li>
          <li><a href="#">{{ 'footer.About Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Accessibility' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Sustainability' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Press Center' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Investor Relations' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Devices' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Investor Relations' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'Make Money with Us' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'footer.Sell on Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Sell apps on Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Supply to Amazon' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Protect & Build Your Brand' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Become an Affiliate' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Start a Package Delivery Business' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Advertise Your Products' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Self-Publish with Us' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Host an Amazon Hub' | translate }}</a></li>
          <li><a href="#">{{ 'footer.See More Ways to Make Money' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>{{ ' Our Site Payment Products' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'footer.Amazon Visa' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Store Card' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Secured Card' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Business Card' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Shop with Points' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Credit Card Marketplace' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Reload Your Balance' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Gift Cards' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Currency Converter' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h5>{{ 'Let Us Help You' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'footer.Your Account' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Your Orders' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Shipping Rates & Policies' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Amazon Prime' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Returns & Replacements' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Manage Your Content and Devices' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Recalls and Product Safety Alerts' | translate }}</a></li>
          <li><a href="#">{{ 'footer.Help' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>



<div class="lan">
  <span class="icp-container-desktop">
    <div class="navFooterLine">
      <hr>
     
      <span style="margin-right:10px">
          <!-- <div class="nav-logo-base nav-sprite"></div> -->
          <span class="nav-item">
            <div class="Flagdiv dropdown">
              <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="flag " src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg"> {{lang | translate}}
              </a>       
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#" (click)="changelanguage('en')">English</a></li>
                <li><a class="dropdown-item" href="#" (click)="changelanguage('ar')">Arabic</a></li>
              </ul>
            </div>
            
                <!-- <select (click)="changelanguage($event)" name="" id="">
                  <option [selected]="lang==='en'" value="en">{{'egypt'|translate}}English</option>
                  <option [selected]="lang==='ar'"value="ar">{{'egypt'|translate}}Arabic</option>
                </select> -->
          </span>
      <style type="text/css"></style>
      <a href="" aria-label="Choose a country/region for shopping." class="icp-button d2" id="icp-touch-link-country">
        <i class="fas fa-flag-usa"></i> <span class="icp-color-base">United States</span>
      </a>
    </span>
    </div>
  </span>
</div>


