


.logo {
  max-height: 10%; /* Adjust to your preference */
  max-width: 10%; /* Adjust to your preference */
}



#dropdownMenuLink
{
  color:white;
}



/* //////////////////////////////////////////////////////////////////sec nav */
.sec-nav{
  background-color: #232f3e;
  color: white;
}
.sec-nav ul{
  flex-wrap: wrap;
}
.sec-nav ul li{
  margin-left: 2rem;
  margin-top: 3px;
  padding: 3px 13px;
}
.sec-nav ul li:hover{
  border: 1px solid white;
  /* padding: 3px 13px; */
  /* padding-left: 5px;
  padding-right: 5px; */
}
.sec-nav ul li a{
  text-decoration: none !important;
  color: white;
}
@media (min-width: 768px) and (max-width:990px){
  .sec-nav {
    height: auto; 
  }

  .sec-nav ul {
    flex-direction: row; 
    align-items: center; 
  }

  .sec-nav ul li {
    margin: 5px 0; 
  }
  .sec-nav ul li a{
    color: white !important;
  }
  .sec-nav ul li:hover{
    border: 1px solid white;
  }
}

@media (max-width: 767px) {
  .sec-nav {
    height: auto;
  }

  .sec-nav ul {
    flex-direction: row; 
    align-items: center; 
  }

  .sec-nav ul li {
    margin: 5px 0; 
  }
  .sec-nav ul li a{
    color: white !important;
  }
  .sec-nav ul li:hover{
    border: 1px solid white;
  }
}