<div class="container transactions-container mt-4"  [dir]="'dir' | translate">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>{{ 'main.number' | translate }}</th>
          <th>{{ 'main.Amount' | translate }}</th>
          <th>{{ 'main.Status' | translate }}</th>
          <th>{{ 'main.Withdrawal Method' | translate }}</th>
          <th>{{ 'main.Date Placed' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; let i = index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>{{ transaction.amount | currency }}</td>
          <td>{{ transaction.status }}</td>
          <td>{{ transaction.withdrawalMethod }}</td>
          <td>{{ transaction.datePlaced ? (transaction.datePlaced | date: 'short') : 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination-controls text-center mb-4">
      <button class="btn btn-primary mr-2" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }}</span>
      <button class="btn btn-primary ml-2" (click)="nextPage()">Next</button>
    </div>
  </div>
  